@import "basic/_reset.css";
@import "basic/_vars.css";
@import "basic/_fonts.css";
@import "basic/_global.css";

@import "components/_btn.css";
@import "components/_header.css";
@import "components/_footer.css";
@import "components/_title-section.css";

@import "home/_home.css";
@import "home/_experience.css";
@import "home/_features.css";

/* здесь была группа ИС-2 */