.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

.body {
  color: var(--black);
  font-family: "Inter 28pt", sans-serif;
  line-height: 1.4;
  font-weight: 400;
  font-size: 16px;
}

.indent {
  margin-bottom: 100px;
}