:root {
  --white: #fff;
  --white-300: #F7F7F8;
  --primary: #00A8CC;
  --gray: #4E4E4E;
  --gray-600: #4B5563;
  --gray-700: #374151;
  --gray-800: #4D4D5A;
  --black: #000;
  --dark-color: #21243D;
  --dark-color-100: #2C2C3C;
  --violet: #627EEA;
  --blue: #0098EA;
}