.home__inner {
  display: flex;
  gap: 70px;
  justify-content: space-between;
}

.home__content {
  max-width: 540px;
  width: 100%;
}

.home__title {
  font-weight: 700;
  font-size: 54px;
  line-height: 1.15;
  color: var(--dark-color);
  margin-bottom: 40px;
}

.home__text {
  font-size: 20px;
  color: var(--gray);
  margin-bottom: 40px;
}

.home__img {
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
}